/* Navigation */
    body {
            margin: 0;
            padding: 0;
            /* Background image settings */
            background-image: url('/public/background11.png');
            background-size: cover; /* or 'contain' depending on your needs */
            background-position: center center;
            background-attachment: fixed; /* This makes it stay in place */
            background-repeat: no-repeat;
            
            /* Fallback background color */
            background-color: #000000;
            
            /* Additional styling */
            font-family: Arial, sans-serif;
        }


section {
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(245, 251, 251, 0.546);
    width: 80vw;
    height: 80vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-logo {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-dark);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--primary);
}

.nav-link {
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
}

.nav-link.active {
    color: var(--primary);
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 1.5rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h1 {
    font-size: 3rem;
    line-height: 1.2;
}

.hero h1 span {
    color: var(--primary);
}

.hero-subtitle {
    max-width: 600px;
    margin-top: 1rem;
    color: var(--text-muted);
}

.hero-actions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

/* SKILLS */

.skills-preview ul {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}

.skills-preview li {
    background: var(--bg-soft);
    padding: 1rem;
    border-radius: 8px;
}

/* CTA */

.cta {
    background: linear-gradient(135deg,
            rgba(120, 90, 255, 0.15),
            rgba(80, 60, 200, 0.15));
    padding: 3rem;
    border-radius: 16px;
    text-align: center;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
}

.btn.primary {
    background: var(--primary);
    color: white;
}

.btn.secondary {
    border: 1px solid var(--primary);
    color: var(--primary);
}